<h1>All Events</h1>
<h2>Upcoming Events</h2>
<% Event.upcoming.each do |e| %>
<div>  
   <%= link_to e.description, Event.find(e.id)  %>
</div>
<% end %>

<h2>Past Events</h2>
<% Event.past.each do |e| %>
<div>  

<%= link_to e.description, Event.find(e.id)  %>
</div>
<% end %>