<% if logged_in? %>
<h2>New Event</h2>
<% else %>
<h1>New Event</h1>
<% end %>

<div>
  <div>
    <%= form_for @event, url: {action: "create"} do |f| %>

      <%= f.label :description %>
      <%= f.text_field :description %>
      
      <%= f.submit "Create my event" %>
    <% end %>
  </div>
</div>